/* Mobile */
@media (max-width: 767px){
   	.header .col-sm-12{
		padding:0;
	}

	.logo {
		width: 9em;
		padding: 0.5em 0.5em 0;
	}

	.navbar-nav {
		width: 100%;
		background-color: #fff;
		text-align: center;
		padding: 0.5em 0;
	}

	.nav-item {
		color: #009BCF;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding: 0;
		margin: 0.4em 0;
		border-top: none!important;
	}

	.other-headers {
		height: auto;
		padding-top: 5em;
		margin-bottom: 2em;
	}

	.home-head {
		padding: 5em 0 0;
	}

	h1 {
		font-size: 2.2em;
		margin-bottom: 0.5em;
	}

	h2{
		margin-bottom: 0.5em;
		font-size: 2em;
	}

	.home-head h1 {
		margin-bottom: 2rem;
	}

	.services {
		padding: 0;
	}

	.home-head .card-body{
		padding: 0;
	}

	.home-head .card {
		padding: 1em;
		max-width: 32em;
		margin: 0 auto 1em;
	}

	.navbar-toggler {
		color: #fff;
		font-size: 1.5em;
	}
	
	.scrolled .navbar-toggler {
		color: #41C2EE;
	}

	.home-about, .home-services, .customers-gallery, .footer, .offerings {
		padding: 1em 0;
	}

	.reseller-services {
		padding: 1em 0 0;
	}

	.questions-accordion .card-header {
		padding: 1em;
		align-items: center;
		justify-content: space-between;
		display: flex;
		font-size: 0.9em;
	}

	.questions-accordion .card-body {
		padding: 0 1em 1em;
	}

	.collapsed .card-header:after {
		font-size: 1.5em;
	}

	.questions-accordion {
		margin-bottom: 1em;
	}

	.platforms .fa-ul {
		margin-bottom: 0;
	}

	.supported-gallery img, .customers-gallery img {
		margin-bottom: 1em;
	}

	.testimonial-slider {
		padding: 2em 0;
	}

	.speech-box {
		width: 20em;
	}

	.bubble {
		padding: 1em;
	}

	.footer-details {
		margin-top: 1em;
	}


	#map {
		margin-top: 1em;
		width: 100%;
	}

	.gm-style .gm-style-iw-c {
		max-width: 16em!Important;
	}

	.quote-img {
		width: 3em;
		margin: 0 auto 1em;
	}

	/* VoIP  */
	.service-box {
		padding: 1em;
		max-width: 28em;
	}

	.service-box p {
		font-size: 1.2em;
	}

	.offerings h2 {
		font-size: 1.7em;
	}

	.reseller-cta {
		padding: 2em 0;
	}

	.reseller-cta h2 {
		font-size: 2em;
	}

	.form-control {
		padding: 1em;
		font-size: 0.9em;
	}

	.msg-input {
		min-height: 10em;
		max-height: 10em;
	}

	.arrow {
		right: 0.9em;
		top: 0.9em;
	}

	.data-cleaning {
		padding: 2em 0;
		margin-top: 2em;
	}

	.data-cleaning h3 {
		width: 100%;
		margin: 0 auto;
	}

	.data-box {
		width: 100%;
		justify-content: flex-start;
		padding: 1em;
		height: auto;
	}

	.data-boxes .col-md-12 {
		padding-bottom: 0;
		padding-top: 1em;
	}

	.data-boxes{
		max-width: 35em;
		margin: 0 auto;
	}

	.data-info {
		align-items: center;
	}

	.br-w{
		border: none;
	}

	.bb-w{
		border:none;
	}

	.reseller-rs h3 {
		width: 100%;
		margin: 0 auto 0.5em;
	}

	.anchor {
		display: block;
		position: relative;
		top: -5em;
		visibility: hidden;
	}

	.btn-reseller {
		padding: 0.5em 2em;
		width: 11em;
		margin-bottom: 0.8em;
	}

	.reseller-btns {
		position: relative;
		bottom: 0;
		left: 0;
		transform: none;
		width: 100%;
		flex-flow: row wrap;
		justify-content: space-evenly;
		margin-bottom: 0.5em;
	}

	.reseller-box {
		padding: 2em 0;
	}

	.reseller-info {
		width: 100%;
	}

	.reseller-services .offer-item {
		margin-bottom: 0;
		margin-top: 1.5em;
	}

}

/* Tablet & small screens: */
@media (min-width: 768px) and (max-width: 991px){

	.home-head {
		padding: 6em 0 0;
	}

	.header .container {
		max-width: 57em;
	}

	.logo {
		width: 8em;
		margin-right: 0.5em;
		padding: 0.5em 0.5em 0;
	}

	.navbar-nav {
		width: 100%;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding: 2em 0;
		font-size: 0.8em;
	}

	.navbar-nav {
		padding-right: 1em;
	}

	.services {
		padding: 0;
	}

	.home-head .card-body {
		padding: 0;
	}

	.home-head .card-title {
		font-size: 1.2em;
	}

	.home-head .card-text {
		height: 3em;
	}

	.home-head h1 {
		margin-bottom: 2rem;
	}

	h2 {
		margin-bottom: 0.5em;
	}

	.home-about, .home-services, .customers-gallery, .footer, .offerings {
		padding: 2em 0 1em;
	}

	.reseller-services {
		padding: 2em 0 0;
	}

	.card span {
		font-size: 1em;
	}

	.questions-accordion .card-body {
		padding: 0 2em 2em;
	}

	.questions-accordion .card-header {
		padding: 1.5em 2em;
	}

	.questions-accordion {
		margin-bottom: 2em;
	}

	.supported-gallery img, .customers-gallery img {
		margin-bottom: 2em;
	}

	.testimonial-slider {
		padding: 3em 0;
	}

	.speech-box {
		width: 35em;
	}

	.footer-details {
		margin-top: 1em;
	}

	#map {
		margin-top: 1em;
		width: 100%;
	}

	.form-control {
		padding: 1em;
	}

	.msg-input {
		min-height: 10em;
		max-height: 10em;
	}

	.arrow {
		top: 1em;
	}

	.other-headers {
		height: auto;
		padding: 5em 0 2em;
		margin-bottom: 2em;
	}

	.service-box {
		padding: 1em;
	}

	h1 {
		font-size: 2.5em;
	}

	h2, .offerings h2 {
		font-size: 2em;
	}

	.offer-item {
		margin-bottom: 1.5em;
		height: 4.5em;
		display: flex;
	}

	.offerings .fa-check-circle {
		padding-right: 0.2em;
		font-size: 2em;
	}

	.offer-item p {
		line-height: 1.2;
	}

	.reseller-cta {
		padding: 2em 0;
	}

	.reseller-cta h2 {
		font-size: 2em;
	}

	.other-headers p {
		margin-bottom: 0;
	}

	.data-cleaning {
		padding: 2em 0;
		margin-top: 2em;
	}

	.data-cleaning h3 {
		width: 23em;
		margin: 0 auto 1em;
	}

	.data-box {
		width: 21em;
		padding: 1em;
		height: 9em;
		justify-content: flex-start;
	}

	.data-boxes .col-md-12 {
		padding-bottom: 2em;
		padding-top: 2em;
	}

	.box2 {
		margin-top: 4em;
	}

	.data-info p {
		font-size: 1.1em;
		display: flex;
		align-items: center;
	}

	.box-l .col-md-12{
		padding-bottom: 2em;
	}

	.reseller-services h3 {
		height: auto;
	}

	.spacing-box {
		padding: 0;
	}
	
	.btn-reseller {
		padding: 0.5em 1em;
		width: 9em;
	}

	.reseller-btns {
		bottom: -1.3em;
		width: 38em;
	}

	.reseller-services .offer-item {
		margin-bottom: 1em;
		height: auto;
	}

	.reseller-box {
		padding: 4em 0;
	}

	.reseller-page{
		margin-bottom: 3.5em;
	}

	.sticky-box {
		padding: 1em;
	}

	.sticky-head p {
		font-size: 1.1em;
	}


}

@media (min-width: 992px) and (max-width: 1199px){
	.logo {
		width: 10em;
	}

	h2 {
		margin-bottom: 0.5em;
		font-size: 2.1em;
	}

	.offerings h2 {
		font-size: 2.1em;
	}

	.navbar-nav {
		width: 98%;
		padding-right:1em;
	}

	.home-head {
		padding: 8em 0 2em;
	}

	.home-head h1 {
		margin-bottom: 3rem;
	}

	.services {
		padding: 0;
	}

	.home-head .card-body {
		padding: 0;
	}

	.home-head .card-text {
		height: 3em;
		max-width: 19em;
	}

	.home-head .card-title {
		font-size: 1.2em;
		height: auto;
		max-width: 15em;
	}

	.home-head .btn-read-more {
		margin-top: 0.8em;
	}

	.home-about, .customers-gallery, .footer, .offerings{
		padding: 3em 0 2em;
	}

	.reseller-services {
		padding: 3em 0 0;
	}

	.card span {
		font-size: 0.9em;
	}

	.home-services {
		padding: 3em 0 4em;
	}

	.questions-accordion {
		margin-bottom: 3em;
	}

	.testimonial-slider {
		padding: 4em 0;
	}

	.customers-gallery {
		padding: 2em 0 2.5em;
	}

	.other-headers {
		height: auto;
		padding-top: 7em;
		margin-bottom: 3em;
		padding-bottom: 3em;
	}

	.reseller-cta {
		padding: 3em 0;
	}

	.other-headers p {
		padding: 0 5em;
	}

	.with-text {
		padding-bottom: 2em;
	}

	.box2 {
		margin-top: 6em;
	}

	.spacing-box {
		padding: 2em;
	}

	.reseller-services p {
		line-height: 1.5;
	}

	.reseller-services h3 {
		height: 2.2em;
	}

	.reseller-rs h3 {
		width: 80%;
	}

	.data-cleaning {
		padding: 4em 0;
		margin-top: 4em;
	}

	.reseller-page{
		margin-bottom: 3.5em;
	}



}

/* Laptop: */
@media (min-width: 1199px) and (max-width: 1399px){
	.home-head {
		padding: 10em 0 4em;
	}

	.home-head h1 {
		margin-bottom: 4rem;
	}

	.home-head .card-title {
		font-size: 1.5em;
		height: auto;
	}

	.home-head .card-text {
		height: 3em;
	}

	.card span {
		font-size: 1.1em;
		line-height: 1.2;
	}

	.home-head .card-body {
		padding: 0;
		min-height: 9.4em;
	}

	.questions-accordion {
		margin-bottom: 3em;
	}

	.testimonial-slider {
		padding: 4em 0;
	}

	.customers-gallery {
		padding: 3em 0 3.5em;
	}

	.other-headers {
		height: 18em;
		padding-top: 3em;
		margin-bottom: 4em;
	}

	.offerings {
		padding: 3em 0;
	}

	.reseller-cta {
		padding: 3em 0;
	}

	.with-text {
		padding-top: 4em!important;
	}

	.footer {
		padding: 4em 0;
	}

}

@media (min-width: 1400px) and (max-width: 1600px){
	.home-head {
		padding: 10em 0 4em;
	}

	.home-head h1 {
		margin-bottom: 4rem;
	}

	.home-head .card-title {
		font-size: 1.5em;
		height: auto;
		max-width: 15em;
	}

	.home-head .btn-read-more {
		margin-top: 1em;
	}

	.home-head .card-text {
		height: 3em;
	}

	.card span {
		font-size: 1.1em;
		line-height: 1.2;
	}

	.home-head .card-body {
		padding: 0;
	}

	.questions-accordion {
		margin-bottom: 3em;
	}

	.testimonial-slider {
		padding: 4em 0;
	}

	.customers-gallery {
		padding: 3em 0 3.5em;
	}

	.other-headers {
		height: 18em;
		padding-top: 3em;
		margin-bottom: 4em;
	}

	.offerings {
		padding: 3em 0;
	}

	.reseller-cta {
		padding: 3em 0;
	}

	.with-text {
		padding-top: 4em!important;
	}

	.footer {
		padding: 4em 0;
	}


}